* {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 960px;
  margin: auto;
}
.grid {
  display: flex;
  gap: 16px;
  width: 960px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.box {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.02em;

  padding: 16px;
  box-shadow: 4px 4px 0px #000000;
  /* your existing box styles */
}

.red {
  background: #d44b4b
}
.orange {
  background: #d4764b
}
.yellow {
  background: #d2d445
}
.green {
  background: #3eaa47
}
.blue {
  background: #4b59d4
}
.purple {
  background: #964bd4
}

.gallery {
  columns: 3;
  column-gap: 8px;
}

.gallery img {
  width: 100%;
  display: block;
  margin-bottom: 8px;
  break-inside: avoid;
}
